{% extends 'base/base2.html' %}
{% block title %}Reset Password{% endblock title %}
{% block content %}


<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			{% comment %} <div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="/static/img/login.jpg" alt="">
					<div class="hover">
						<h4>New to our website?</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
						<a class="primary-btn" href="{% url 'login' %}">Login</a>
					</div>
				</div>
			</div> {% endcomment %}
			<div class="col-lg-6 m-auto">
				<div class="login_form_inner">
					<h3>Reset Password</h3>{{request.session.email}}
                    <form class="row login_form" method="post" id="ResetForm" novalidate="novalidate">
						{% csrf_token %}
                        <div class="col-md-12 form-group">
							<input type="text" hidden value="{{request.session.email}}" class="form-control" id="email2" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="password1" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						</div>
                        <div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="password2" placeholder="Re Enter Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Submit</button>
							
						</div>
					</form>
                    
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->

<!-- Minified jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--================Messages Ajax Start =================-->
{% if messages %}
    <!-- JavaScript -->
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <script>
		$(document).ready(function () {
			{% for message in messages %}
			{% if message.tags == 'success' %}
			alertify.success('{{ message }}');
			{% elif message.tags == 'info' %}
			alertify.message('{{ message }}');
			{% elif message.tags == 'warning' %}
			alertify.warning('{{ message }}');
			{% elif message.tags == 'error' %}
			alertify.error('{{ message }}');
			{% endif %}
			{% endfor %}
		});
	</script>
{% endif %}
<!--================Messages Ajax Start =================-->


<!--================ Reset Ajax Start =================-->
<script>
	$(document).ready(function(){
		$('#ResetForm').submit(function(event){
			event.preventDefault();
			var formData = $(this).serialize();
			$.ajax({
				type: 'POST',
				url: '{% url "passwordresetpage" %}',
				data: formData,
				success: function(data) {
                    if (data.status == "success") {
                        window.location = '{% url "login" %}';
                    }
                    else {
                      alert(data.msg);
                      window.location.href = window.location.href;
                    }
                  }
				error:function(data){
					alert('cannot Send Data',data);
				}
			});
		});
	});
</script>
<!--================ OTP Ajax End =================-->
{% endblock content %}
